@use "color_theme";

.progression-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

.progression-card {
	background-color: inherit;

	max-height: 200px;
	padding: 0px;
	display: flex;
	align-items: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;

	img {
		max-height: 200px;
		max-width: 55%;
		border: 1px solid color_theme.$grey;
		border-radius: 10px;
	}

	figcaption {
		padding-left: 10px;

		span {
			display: block;
		}
		
		.prg_pos {
			color: grey;
			font-size: smaller;
		}
		
		.prg_name{
			font-size: larger;
		}
	}
}

.logsets {
	float: right;

	input {
		width: 50px;
	}
}