@use 'sass:color';
@use "color_theme";

.streak-week {
	display: flex;
	justify-content: flex-start;
}
.streak-day {
	display: flex;
	margin: .5ch;
	width: 5ch; /* Set this to slightly wider than the longest string */
	align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	color: color_theme.$pink;
	border: 2px solid white;
	background-color: transparent;
}
.streak-day.past {
	border: 2px solid color_theme.$pink;
}
.streak-day.done {
	background-color: color_theme.$pink;
	color: white;
}

.streak-info-container {
	display: flex;
	justify-content: flex-start;
	.streak-info {
		margin-right: 1rem;
	}
	.streak-nb {
		margin-bottom: 0;
	}
	.streak-legend {
		font-size: 0.9rem;
		color: color_theme.$grey;
	}
}

.routine-container {
	padding: 1rem;
	border: 2px solid color_theme.$grey;
	border-radius: 0.75rem;
	background-color: color.adjust(color_theme.$dark-blue, $lightness: 10%);
}