---
---
@import "colors";

.progression-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

.progression-card {
	background-color: inherit;

	/*height: 200px*/
	padding: 10px;
	display: flex;
	align-items: center;

	img {
		width: 40%;
		border: 1px solid $grey;
		border-radius: 10px;
	}

	figcaption {
		width: 35%;
		padding: 10px;

		span {
			display: block;
		}
		
		.prg_pos {
			color: grey;
			font-size: smaller;
		}
		
		.prg_name{
			font-size: larger;
		}
	}
}

.logsets {
	float: right;

	input {
		width: 50px;
	}
}