.progression-card {
	/*height: 200px;*/
	/*margin: 10px;*/
	display: flex;
	align-items: center;

	img {
		width: 40%;
	    border: 1px solid #e8e8e8;
	    border-radius: 10px;
	}
	figcaption {
		width: 35%;
		padding: 10px;
		span {
			display: block;
		}
		.prg_pos {
			color: grey;
			font-size: smaller;
		}
		.prg_name {
			font-size: larger;
		}
	}
}

.logsets {
	float: right;
	input {
		width: 50px;
	}
}