---
---
@import "colors";

.streak-week {
	display: flex;
	justify-content: flex-start;
}
.streak-day {
	display: flex;
	margin: .5ch;
	width: 5ch; /* Set this to slightly wider than the longest string */
	align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	color: $pink;
	border: 2px solid white;
	background-color: transparent;
}
.streak-day.past {
	border: 2px solid $pink;
}
.streak-day.done {
	background-color: $pink;
	color: white;
}

.streak-info-container {
	display: flex;
	justify-content: flex-start;
	.streak-info {
		margin-right: 1rem;
	}
	.streak-nb {
		margin-bottom: 0;
	}
	.streak-legend {
		font-size: 0.9rem;
		color: $grey;
	}
}

.routine-container {
	padding: 1rem;
	border: 2px solid $grey;
	border-radius: 0.75rem;
	background-color: lighten($dark-blue, 10%);
}