---
layout: default
---

<style>
.preview-panel {
    padding: 0 0 1.5em 1.5em;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;

    .preview-content{
        padding-top: 30%;
    }

    .mvt_name {
        color: white;
        display: block;
    }
    .mvt_count {
        color: lightgreen;
    }
}
</style>

<div class="preview-panel" style="background: linear-gradient(0deg, rgb(0, 0, 0, 0.6) 0%, rgb(0, 0, 0, 0.5) 30%, transparent 50%), url('{{page.background}}') center; background-size: cover;">
    <div class="preview-content">
        <h1 class="mvt_name">{{page.name}} Progressions</h1>
        <span class="mvt_count"><a href="{{page.video}}">Watch Video</a></span>
    </div>
</div>

<h3>Progressions</h4>

<p>
Swipe through the {{page.name | downcase}} progressions below to find one that you can do comfortably and safely. When in doubt, please start with progression 1.
</p>
<p>
{{page.desc}}
</p>
{% assign prog = site.progression | where: "mvt_idx", page.mvt_idx | sort:"prg_pos" %}

<div class="progression-container">

{% comment %}
{% for p in prog %}
{% include progression_card.html %}
{% endfor %}
{% endcomment %}

</div>

<script type="text/javascript" src="/assets/movement_card.js"></script>
<script type="text/javascript">
let h;


function init() {
    const level_reg = /\d+/;
    fetch("/assets/data.json")
    .then(response => response.json())
    .then(json => {
        data = json.reduce((acc, e) => {
            if (e['level']) {
                e['level'] = e['level'].map(l => {
                    let [times, reps] = l.match(/\d+/g).map(n => parseInt(n, 10));
                    return [...Array(times)].map(_ => reps);
                })
            }
            if (e['prg_idx']) {
                acc[e['prg_idx']] = e;
            } else {
                acc[e['mvt_idx']] = e;
            }
            return acc;
        }, {});
        let hist = new History();
        hist.data = data;
        main(hist);
    });
}

function main(hist) {
    h = hist;

    let container = document.getElementsByClassName('progression-container')[0];
    let mvt_idx = document.URL.split('/').at(-1).split('.')[0];
    h.data[mvt_idx]['progression'].map(prg_name => 
        createProgCard(prg_name, h.data)
    ).forEach((html) => {
        container.innerHTML += html;
    });

    /*[...document.getElementsByClassName('progression-card')].forEach(
        e => e.getElementsByTagName('button')[0].addEventListener('click', logset)
    );*/
}

document.body.onload = init
</script>