---
layout: default
---

<style>
.header video {
    width: 100%;
}
.preview-panel {
    padding: 0.5em;
    box-sizing: border-box;

    .preview-content{
        padding-top: 30%;
    }

    .mvt_name {
        color: white;
        display: block;
    }
    .mvt_count {
        color: lightgreen;
    }

    a{
        color: #111;
    }
}
</style>

<div class="header">
<video autoplay muted loop>
    <!--source src="https://github.com/shinosteph/calisthenics-routine/raw/refs/heads/main/media/{{page.prg_idx | replace: '-', '_'}}.mp4" type="video/webm" poster="{{page.thumbnail}}"-->
    <source
    src="//imgur.com/{{page.video | split: '/' | last}}.mp4" type="video/webm" poster="{{page.thumbnail}}">
    Your browser does not support the video tag.
</video>
</div>

{% assign mvt = site.movement | find:"mvt_idx",page.mvt_idx %}

<span><a href="{{mvt.url}}">{{mvt.name}}</a> Progression {{page.prg_pos}}</span>
<h1 id="{{page.prg_idx}}">{{page.name}}</h1>

<style>
#log > div {
    justify-content: center;
    display: flex;
    align-items: center;
    p, input {
        margin: 0 1rem 0 1rem;
        text-align: center;
    }
    input {
        width: 4rem;
        background: transparent;
        color: white;
        border: none;
    }
    button.qty {
        float: left;
        margin: .5ch;
        display: flex;
        font-size: 2rem;
        height: 4ch; /* Set this to slightly wider than the longest string */
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        color: white;
        border: 2px solid white;
        background-color: transparent;
    }
}

/* https://stackoverflow.com/a/36317392 */
#rest-overlay {
  border-radius: 20px 20px 0 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 15%;
  left: 0;
  overflow: hidden;
  background-color: darkblue;
  color: #FFF;
  transition: all 1s;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  > * {
    text-align: center;
  }
}
#rest-overlay.closed {
  height: 0%;
  top: 100%;
}

button {
    margin: 0 10px 0 10px;
    height: 45px;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

.progress {
    height: 25px;
    margin: 35px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid gray;
}

.bar {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: width;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);
    background-color: #ffadff;
}

.overlap {
    background-color: hsl(181, 97%, 73%);
}

.container {
    text-align: center;
}
</style>

<div id="log">
    <div>
        <button class="qty disable-dbl-tap-zoom" onclick="changeQuantity(-1)">-</button>
        <div>
            <p>Set <span id="set-nb">0</span></p>
            <input value="20" style="font-size: 2rem;"/>
            <p style="color: gray; font-size: 0.8rem">Reps</p>
        </div>
        <button class="qty disable-dbl-tap-zoom" onclick="changeQuantity(1)">+</button>
    </div>
    <div>
        <button onclick="toggleOverlay()">Next Set</button>
        <button onclick="saveSet()">I'm Done</button>
    </div>
    <div>
        <span>Workout :</span>
        <div id="saved-sets"></div>
    </div>
</div>
<p style="text-align: center;">
    Do as many as you safely can !
</p>
<p style="text-align: center; color: gray">
    Push yourself hard, but end your set when your form starts breaking down too much.
</p>

<div id="rest-overlay" class="closed">
    <h2>Great work !</h2>
    <button onclick="toggleOverlay()">Close</button>
    <p style="text-align: center;">Now it's time to rest for 2-3 minutes.</p>
    <p style="text-align: center; color: gray">Focus on breathing, move around, and prepare tourself for your next set.</p>
    
    <div class="container">
        <div id="countdown-container">
            <span id="minutes">3</span>:<span id="seconds">00</span> seconds
        </div>
        <div class="progress">
            <div class="bar shadow overlap"></div>
        </div>
    </div>
</div>

<h2>Overview</h2>

{{page.desc | join: " "}}

<h2>Levels</h2>
<div style="display: flex; justify-content: space-evenly;">
{% for text in page.level %}
<div style=" text-align: center; border-left: 2px white;">
    <p style="margin-bottom: 0">LEVEL {{forloop.index}}</p>
    <p style="color: grey">{{text}}</p>
</div>
{% endfor %}
</div>

<h2>Tutorial</h2>
<ol>
{% for text in page.tutorial %}
<li>{{text}}</li>
{% endfor %}
</ol>

<h2>Form Cues</h2>
<ul>
{% for text in page.form %}
<li>{{ text }}</li>
{% endfor %}
</ul>


<h2>Progression / Regression</h2>
<ul>
{% for text in page.prog_reg %}
<li>{{ text }}</li>
{% endfor %}
</ul>

<script type="text/javascript" src="/assets/utils.js"></script>
<script type="text/javascript">
let h;
let set = [];

function nextSet(hist, prg_idx) {
    // Updating set number
    let setCountElt = document.querySelector('#set-nb');
    let currentSet = parseInt(setCountElt.innerHTML, 10) + 1;
    setCountElt.innerHTML = currentSet;

    // Updating reps placeholder

    const prg = hist.data[prg_idx];
    let level = hist.currentLevel(prg_idx);
    let set_placeholder = prg['level'][0];
    if (h.attempted(prg_idx)) {
        set_placeholder = h.lastSet(prg_idx)['set'] || 0;
    }

    document.querySelector('#log input').value = set_placeholder[Math.min(currentSet, set_placeholder.length-1)];
}

function changeQuantity(n) {
    let e = document.getElementsByTagName('input')[0];
    e.value = parseInt(e.value, 10) + n;
}

function saveSet() {
    if (set.length == 0) {
        return;
    }
    let prg_idx = document.getElementsByTagName('h1')[0].id;
    let date = new Date();
    h.logSet(prg_idx, set, date);
    set = [];
    document.getElementById('saved-sets').innerHTML = set.join(', ');
}


function toggleOverlay() {
    document.getElementById('rest-overlay').classList.toggle('closed');
    if (!currentCountdown) {
        // Saving reps
        set.push(parseInt(document.querySelector('#log input').value, 10));
        document.getElementById('saved-sets').innerHTML = set.join(', ');
        startCountdown(120);
        let prg_idx = document.querySelector('h1').id;
        nextSet(h, prg_idx);
    } else {
        stopCountdown();
    }
}

let currentCountdown = null, currentCountdownAmount = 0;

function startCountdown(s) {
    if (currentCountdown) {
        stopCountdown();
    }
    currentCountdownAmount = s;
    document.getElementById("seconds").innerHTML = String(s%60).padStart(2, '0');
    document.getElementById("minutes").innerHTML = String((s-s%60)/60).padStart(2, '0');
    currentCountdown = setInterval(updateCountdown, 1000);
}

function stopCountdown() {
    clearInterval(currentCountdown);
    currentCountdown = null;
}

function updateCountdown() {
    let sElt = document.getElementById("seconds");
    let s = parseInt(sElt.innerHTML, 10);
    let mElt = document.getElementById("minutes");
    let m = parseInt(mElt.innerHTML, 10)

    s -= 1;
    if (s < 0) {
        s = 59
        m -= 1;
    }

    if (m <= 0 && s <= 0) {
        // Removing the overlay before resetting the countdown !
        toggleOverlay();
        stopCountdown();
    }

    mElt.innerHTML = String(m).padStart(2, '0');
    sElt.innerHTML = String(s).padStart(2, '0');
    document.getElementsByClassName('bar')[0].style.width = (m * 60 + s) / currentCountdownAmount * 100 + '%';
}

function main(hist) {
    h = hist;
    let prg_idx = document.getElementsByTagName('h1')[0].id;
    nextSet(h, prg_idx);
}

function init() {
    load_movement_data(data => {
        let hist = new History();
        hist.data = data;
        main(hist);
    });
}

document.body.onload = init
</script>